* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ABABAB;
    letter-spacing: 3px;
    background-image: url(../assets/background.jpg);
    background-size: contain;
    /* mix-blend-mode: color-dodge; */
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #090909;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}



canvas {
    display: block;
    position:fixed;
    top:0;
    left:0;
    z-index: -100;
}

.white-text {
    color: white;
}

a {
    color: white;
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.panel {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
    z-index: 100;
    background: none;
}

#left-panel {
    left: 0;
    padding: 50px 0 0 50px;
    text-align: left;
}

#right-panel {
    right: 20px;
    padding: 50px 30px 0 0;
    text-align: right;
}

#nav-toggle {
    display: none;
    background: none;
    background-image: url(../assets/hamburger.png);
    width: 50px;
    height: 50px;
    background-size: contain;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    position:fixed;
    z-index: 101;
    cursor:pointer;
}

#nav-toggle:hover {
    opacity: 0.8;
}

#mobile-nav-logo {
    background-image: url(../assets/logo.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100px;
    height: 100px;
    margin: auto;
    display: none;
}

@media only screen and (min-width: 500px) {
    #left-panel {
        display: block;
    }
}




.panel > ul {
    list-style-type: none;
    line-height: 26px;
}

.panel > ul > li {
    cursor: pointer;
}

.panel > ul > li.spacing {
    height: 26px;
}

.panel > ul > li > a {
    text-decoration: none;
    /* color: white; */
    font-size: 12px;
    display: block;
    cursor: pointer;
    color: #ABABAB;
    /* text-align: center; */
}

.panel > ul > li > a:hover {
    opacity: 0.8;
}

/* .panel > ul > li > a.selected{
} */

#twitch-stream {
    margin: auto;
    display: inline-block;
    width: 100%;
    height: 500px;
}

#home-logo {
    background-image: url(../assets/logo.png);
    background-size: auto 150px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
}

#maintenance {
    background-image: url(../assets/construction-tape.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#content {
    min-height: 500px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    max-width: 1000px;
    color: #ABABAB;
    /* position: absolute;
    z-index: 102; */
    text-align: center;
}

#content-logo {
    background-image: url(../assets/logo.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    opacity: 0;
}

.popup-backdrop {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
}

.popup-clickable {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.popup-container {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.popup-container > .popup-file {
  margin: auto;
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
  color: #ccc;
  padding: 20px 0;
  height: auto;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

.popup-container > .popup-info-block {
  margin: auto;
  display: block;
  width: 100%;
  text-align: left;
  color: #ccc;
  border-bottom: solid 1px white;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 15px 10px;
  line-height: 20px;
}

.popup-container > .popup-info-block > .popup-name {
  font-weight: bold;
  color: white;
  display: block;
}

.popup-container > .popup-info-block > .popup-desc {
  color: #ABABAB;
  display: block;
}

.popup-container > .popup-info-block > .popup-clicks {
  color: #7c7c7c;
  display: block;
}



#portfolio-list {
    list-style-type: none;
}

#portfolio-list > li {
    display: inline-block;
    margin: 20px;
    width: 100%;
    max-width: 285px;
}

#portfolio-list > li > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#portfolio-list > li > a > img {
    width: 100%;
    display: block;
}

#portfolio-list > li > a > .block {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    padding: 15px;
}

#portfolio-list > li > a > .block > .name{
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px;
    letter-spacing: 1px;
    color: white;
}

#portfolio-list > li > a > .block > .desc{
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: #ABABAB;
}

#portfolio-list > li > a:hover {
    outline: solid 1px rgba(255, 255, 255, 0.6);
}


#order-form {
    width: 70%;
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

#order-form > input, #order-form > textarea, #order-form > button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: default;
    font-size: 14px;
    border: solid 1px #9C9C9C;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    resize: none;
}

#order-form > input:focus, #order-form > textarea:focus, #order-form > button:active, #order-form > button:focus {
    outline: none;
    border: solid 1px white;
}

#order-form > textarea {
    height: 250px;
}

#order-form > button {
    cursor: pointer;
    letter-spacing: 3px;
    color: #FFF;
}

#order-form > button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px transparent;
}

#pricing-table {
    width: 70%;
    min-width: 300px;
    max-width: 300px;
    margin: auto;
    text-align: left;
    color: white;
    margin-top: 80px;
    margin-bottom: 50px;
}

#pricing-table > tbody > tr {
}

#pricing-table > tbody > tr > td {
    padding: 20px 0;
    text-shadow: -11px 16px 15px rgba(0, 0, 0, 1);
}

#pricing-table > tbody > tr > td > .small-text {
    display: block;
    letter-spacing: 2px;
    font-size: 8px;
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}









@media only screen and (max-width: 500px) {
    #nav-toggle {
        display: block;
    }

    #mobile-nav-logo {
        display: block;
    }

    #left-panel {
        display: none;
        padding-top: 20px;
        background-color: rgba(0, 0, 0, 0.95)
    }

    #right-panel {
        display: none;
    }

    .panel {
        width: 100%;
        padding: 0 !important;
    }
    .panel > ul {
        width: 100%;
        padding-top: 20px;
    }

    /* .panel > ul > li {
    } */

    .panel > ul > li > a {
        text-align: center;
        font-size: 16px;
    }



    #portfolio-list > li {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #pricing-table {
        margin-top: 30px;
    }
}
